.menu,
.login,
.register,
.change {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.00);
    width: 280px;
    top: 15%;
    left: 38%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}