@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* done*/

.page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}


/* done*/

.navigation {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 600px;
    top: 0;
    width: 100%;
    height: 40px;
}

.button-nav {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #000000;
    border: 0px;
    margin: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.button-nav:hover,
.button-nav:active,
.button-nav:focus {
    background: rgba(0, 0, 0, 0.20);
    color: black;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.00);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: rgba(0, 0, 0, 0.20);
    color: black;
}

body {
    margin: 0;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* new elems */

.footer {
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 600px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer-text {
    margin-left: 35%;
}

.warning {
    background-color: rgba(255, 0, 0, 0.76);
    color: black;
    font-size: 18px;
    font-weight: 900;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black no-repeat;
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    filter: blur(3px)
}